@import "./design-system/tokens/tokens.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}